html {font-family: Helvetica, Arial, sans-serif;font-size: 100%; background: #333; color: white;}

#page-wrapper { width: 325px; background: #000; padding: 1em; margin: 1em auto;
  border-top: 30px solid #355681; box-shadow: 0 2px 10px rgba(0,0,0,0.8); bo;}

h3{
    margin-top:-42px;
    margin-left:5px;
    text-align: center;
}

#message-form { margin-top: 1.5rem;}

table { width: 100%;}
.tleft {width:50%; font-size: larger} 
.tright {width:50%} 

/* The switch - the box around the slider */
.switch { position: relative; display: inline-block; width: 160px; height: 48px;}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #008000;
  -webkit-transition: .4s; transition: .4s;}

.slider:before { position: absolute; content:''; color:black; height: 41px; width: 41px; left: 5px;
  bottom: 4px; background-color: #ffffff; -webkit-transition: .4s; transition: .4s;}

.slider.round { border-radius: 54px;}

.slider.round:before { border-radius: 50%;}

input:checked + .slider { background-color: #af4141;}

input:focus + .slider { box-shadow: 0 0 1px #af4141;}

input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px);
  transform: translateX(110px);}

